<p id="notice"><%= notice %></p>

<p>
  <label>Id:</label>
  <%= @vlan.id %>
</p>
<p>
  <label>Description:</label>
  <%= @vlan.description %>
</p>

<%= link_to 'Edit', edit_vlan_path(@vlan), class: 'btn btn-warning' %> |
<%= link_to 'Back', vlans_path, class: 'btn btn-default' %>
