<!DOCTYPE html>
<html>
  <head>
    <title>SWNYK</title>
    <%= favicon_link_tag       '/image/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='wrap'> <!-- everything except footer must be put inside this -->

      <!-- navigation bar -->
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'SWNYK', '#', {class: 'navbar-brand'} %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'vlans', vlans_path %></li>
            <li><%= link_to 'interfaces', '#' %></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Parts <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'vlans', vlans_path %></li>
              <li><%= link_to 'interfaces', '#' %></li>
              <li class="divider"></li>
              <li><%= link_to 'hoge', '#' %></li>
            </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
      </nav>

      <!-- content -->
      <div class="container">
        <% if notice %>
          <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><%= notice %></p>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><%= alert %></p>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <!-- footer: keep this away from #wrap -->
    <div id="footer">
      <div class="container">
        <p class="muted credit">&copy; SWK-Team#2 2016, all rights reserved.</p>
      </div>
    </div>

  </body>
</html>
